body{
	background-image: url("https://i.pinimg.com/originals/03/f5/76/03f5767d8f66202c6120b87e6a3fa872.jpg");
	color: #7FFFD4;
	padding: 10px;
	height:100%; /* 100% of viewport height */
	position: relative;
	top: -40px;
}

.main{
	max-width:1500px;
	margin:0 auto;
	background:rgba(0,0,0,0.9);
	padding: 25px;
}

h1 {text-align:center;}

h2 {
	color:magenta;
	text-shadow:0 0 3px green,0 0 3px green,0 0 3px green,0 0 3px green,0 0 3px green;
	font-size:50px;
	font-family:sans-serif;
	text-align:center;
}

body p:nth-child(5) { /* nth selectors are cool */
	color:white;
}

.chillhop {
	padding-top: 30px;
}

.module,*{
	cursor: url('pump.png'), auto; /* has to be in quotes and fallback has to go outside of url... use asterisk to make pumpkin cursor for everything */
}

li:hover { cursor: pointer; }

/* FONTS */
.orbitron {font-family: 'Orbitron', sans-serif;}
.roboto {font-family: 'Roboto', sans-serif;}
.silkscreen {font-family: 'Silkscreen', cursive;}
/* FONTS END */
.green{
	color: #009688;
}

.blue{
	color: #009FFF;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.orange{
	color: #ffa500;
}

/* KATS KORNER */
h5 {}
.katskorner {
	border: none;
	color: white;
	text-align: center;
	padding: 10px 27px;
	font-size: 24px;
	margin: 4px 2px;
	background-color: #FCBACB;
	font-family: Jazz LET, fantasy;
}

.kattext {
	color: white;
	font-size: 20px;
	font-family: Calibri;
	text-align: center;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	text-align: center;
}
  
li {
	display: inline-block;
	text-align: center;
}
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid #bbb;
}
li:last-child {
	border-right: none;
}
  li a:hover {
	background-color: #111;
  }